* {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
}

.l { text-align: left; }
.r { text-align: right; }

body {
    color: rgb(51,51,51);
    background: rgb(250,255,252);
    margin: 0;
}

p, dl {
    margin: 0 15%;
    padding: 0.25em 0;
}

a > img { border: thin solid blue; }
p { font-size: 50pt; }

em {
    border-bottom: thin dotted black;
    font-style: normal;
    font-weight: normal;
}
small {
    display: block;
    font-size: 25pt;
}
cite {
    display: block;
    font-size: x-small;
}

dd {
    border-left: thin solid black;
    padding-left: 1em;
    text-align: left;
    margin-top: 1ex;
}
dt {
    border-right: thin solid black;
    padding-right: 1em;
    text-align: right;
    margin-bottom: 1ex;
    font-style: italic;
}

/* Javascript will enable our control. */
#control { display: none; }
#control.active { display: block !important; }

#control {
    padding: 1ex 0;
    font-size: 25pt;
}
#control:hover {
    background-color: #FFFF50;
    cursor: pointer;
}

#sax .inactive {
    color: gray;
}
#sax .calling {
    color: red;
}
