---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/{MaskedAccountID}/Calls.json
    body:
      encoding: US-ASCII
      string: From=%2B15005550006&To=%2B15005550003&Url=http%3A%2F%2Fexample.org%2Fsax%2Ftwiml
    headers:
      Authorization: ''
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.069'
      Twilio-Request-Id:
      - RQ660c8b946e96429daf33e5d5411dcddd
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21215, "message": "Account not authorized to call +15005550003.
        Perhaps you need to enable some international permissions: https://www.twilio.com/user/account/settings/international",
        "more_info": "https://www.twilio.com/docs/errors/21215", "status": 400}'
  recorded_at: Thu, 11 May 2017 20:23:16 GMT
recorded_with: VCR 3.0.3
