---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/{MaskedAccountID}/Calls.json
    body:
      encoding: US-ASCII
      string: From=%2B15005550006&To=%2B15005550001&Url=http%3A%2F%2Fexample.org%2Fsax%2Ftwiml
    headers:
      Authorization: ''
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.119'
      Twilio-Request-Id:
      - RQ8fd838b714084117a9057a5fc3246f13
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21217, "message": "+15005550001 does not appear to be a valid
        phone number", "more_info": "https://www.twilio.com/docs/errors/21217", "status":
        400}'
  recorded_at: Thu, 11 May 2017 20:23:17 GMT
recorded_with: VCR 3.0.3
