---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/{MaskedAccountID}/Calls.json
    body:
      encoding: US-ASCII
      string: From=%2B15005550006&To=%2B15005550005&Url=http%3A%2F%2Fexample.org%2Fsax%2Ftwiml
    headers:
      Authorization: ''
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.087'
      Twilio-Request-Id:
      - RQf5b9e504d0be47b5bd9ce9fd44f114fc
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "CA4d113733e2f04f3bc96431b371af43c7", "date_created": "Thu,
        11 May 2017 20:26:43 +0000", "date_updated": "Thu, 11 May 2017 20:26:43 +0000",
        "parent_call_sid": null, "account_sid": "{MaskedAccountID}", "to": "+15005550005",
        "to_formatted": "(500) 555-0005", "from": "+15005550006", "from_formatted":
        "(500) 555-0006", "phone_number_sid": null, "status": "queued", "start_time":
        null, "end_time": null, "duration": null, "price": null, "price_unit": "USD",
        "direction": null, "answered_by": null, "api_version": "2010-04-01", "annotation":
        null, "forwarded_from": null, "group_sid": null, "caller_name": null, "uri":
        "/2010-04-01/Accounts/{MaskedAccountID}/Calls/CA4d113733e2f04f3bc96431b371af43c7.json",
        "subresource_uris": {"notifications": "/2010-04-01/Accounts/{MaskedAccountID}/Calls/CA4d113733e2f04f3bc96431b371af43c7/Notifications.json",
        "recordings": "/2010-04-01/Accounts/{MaskedAccountID}/Calls/CA4d113733e2f04f3bc96431b371af43c7/Recordings.json"}}'
  recorded_at: Thu, 11 May 2017 20:26:43 GMT
recorded_with: VCR 3.0.3
